<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/images/favicon.ico" rel="shortcut icon">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/jsencrypt.min.js"></script>
    <script src="/javascripts/index.js"></script>
</head>
<body>
    <div id="logo">
        <a href="/">
            <img src="/images/googlelogo_color_272x92dp.png">
        </a>
    </div>
    <div id="search-input">
        <input type="text" id="search-text" autofocus>
    </div>
    <div id="search-buttons">
        <input type="button" id="search-button" value=" Google 搜索">
        <input type="button" id="github-fork" value="Fork Me On GitHub">
    </div>
</body>
</html>
