<!DOCTYPE html>
<html>
<head lang="en">
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/images/favicon.ico" rel="shortcut icon">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>

    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jsencrypt.min.js"></script>
    <script src="/javascripts/search.js"></script>
    <style>
        h6 {
            margin-bottom: 0.05rem;
            margin-top: 0.4rem;
            font-size: 1.1rem;
        }
        h6 a {
            color: #1a0dab;
        }
        h6 a:visited {
            color: #609;
        }

        .p-result-desc b {
            color: red;
            font-weight: normal;
        }
        .p-result-desc {
            font-size: 13px;
            color: #5a6268;
        }
        .active a {
            cursor: default;
        }
        .small-link {
            color: green;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/images/googlelogo_color_120x44dp.png" width="120" height="44">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <form class="form-inline my-2 my-lg-0 input-group" style="max-width: 600px;">
                <input type="text" class="form-control" id="input-search-text" autofocus>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn-search">Go</button>
                </div>
            </form>
        </div>
    </nav>

    <input type="hidden" value="<%- test %>" id="q">
</body>
</html>
